<!DOCTYPE html>
<html>
<body>
<head>

<link href="/media/wizard/wizard.css" rel="stylesheet" type="text/css" media="all">

<!-- 
#########################################################
#########################################################

	MAIN BODY STARTS

#########################################################
#########################################################
-->

<div class='outter_box'>	
	<div class='inner_box'>
		<textarea class='input_box'></textarea>
	</div>
	<div class='title_display'>Conversation History</div>
	<div class= 'display_box'>
		
	</div>
</div>

<!-- 
#########################################################
#########################################################

	MAIN BODY ENDS

#########################################################
#########################################################
-->
<script type='text/javascript' src="/media/JQ_LIB/jquery.js"></script>

<script src="/media/wizard/wizard.js"></script>

</body>
</html>